.loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #0c1e35; /* Light overlay */
    z-index: 9999;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #121f3a; /* Blue color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .inlineLoaderWrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
  }

  .loaderMessage {
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  